.header-container {
    width: 98%; 
    display: flex;
    align-items: center;
    justify-content: space-between; 
    gap: 16px;
    padding: 10px;
}

.h2 {
    all: unset;
    font-size: 24px;
    font-weight: 500;
}

.subtitle {
    color: #AAAAAA; 
    font-weight: 500;
}

.container {
    display: flex;
    gap: 10px;
}

button {
    padding: 10px 10px;
    border: none;
    background-color: #f0f0f0;
    color: #808080;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
}

button.active {
    background-color: white;
    color: black;
    border: 1px solid #D4D4D4;
}

.header-button {
    background: #f0f0f0;
    color: white;
    padding: 4px 4px;
    margin-left: auto;
    display: flex;
    align-items: center;
    font-size: 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
