.product-info-container {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  width: 100%;
  gap: 12px; 
}

.status-text-processing {
  margin-left: auto; 
  color: #C19A4D;
  font-weight: bold;
}

.status-text-complete {
  margin-left: auto; 
  color: #008000;
  font-weight: bold;
}